@import 'tailwindcss';

@theme {
  --color-brand-light: #ffedd5;
  --color-brand: #f97316;
  --color-brand-dark: #ea580c;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased font-sans;
}

h1,
h2,
h3,
h4 {
  @apply font-bold tracking-tight text-slate-950;
}
